@import '/src/sass/colors';

.main-container {
    flex-direction: column;
    align-items: center;
    padding: 1vw;
    width: 100%;
    height: 100%;
    color: $primary-color;

    > .container {
        flex-direction: column;
        justify-content: center;
        height: 100%;
        gap: 5vw;

        > .buttons-container {
            width: 100%;
            justify-content: space-evenly;
        }
    }
}